###########################################################################################################################
##-------------------------------------------------------------------------------------------------------------------------
##6:55--7:20
##-------------------------------------------------------------------------------------------------------------------------
#工作日英语		    
54 06 * * * /etc/init.d/mpd restart
55 06 * * 1,2,3,4,5 mpc clear && mpc load 5su6 && mpc toggle && mpc repeat on && mpc volume 75
20 07 * * 1,2,3,4,5 mpc clear && mpc load 1su5 && mpc toggle && mpc repeat on && mpc volume 75
30 07 * * 1,2,3,4,5 mpc stop
###########################################################################################################################
##-------------------------------------------------------------------------------------------------------------------------
##9:00--9:30
##-------------------------------------------------------------------------------------------------------------------------
#每天报纸摘要		
00 09 * * * mpc clear && mpc load radio && mpc play 1 && mpc volume 55
##-------------------------------------------------------------------------------------------------------------------------
###########################################################################################################################
##-------------------------------------------------------------------------------------------------------------------------
##9:30--10:30
##-------------------------------------------------------------------------------------------------------------------------
#工作日听歌			
30 09 * * 1 mpc clear && mpc load ht1 && mpc toggle && mpc volume 50
30 09 * * 2 mpc clear && mpc load ht2 && mpc toggle && mpc volume 50
30 09 * * 3 mpc clear && mpc load ht3 && mpc toggle && mpc volume 50
30 09 * * 4 mpc clear && mpc load ht4 && mpc toggle && mpc volume 50
30 09 * * 5 mpc clear && mpc load ht5 && mpc toggle && mpc volume 50
##-------------------------------------------------------------------------------------------------------------------------
#休息日英语
30 09 * * 0,6 mpc clear && mpc load 1su5 && mpc toggle && mpc repeat on && mpc volume 40
30 10 * * * mpc stop
##-------------------------------------------------------------------------------------------------------------------------
###########################################################################################################################
##-------------------------------------------------------------------------------------------------------------------------
##11:30--13:00
##-------------------------------------------------------------------------------------------------------------------------
#工作日听歌			
30 11 * * 1 mpc clear && mpc load ht5 && mpc toggle && mpc volume 50
30 11 * * 2 mpc clear && mpc load ht4 && mpc toggle && mpc volume 50
30 11 * * 3 mpc clear && mpc load ht3 && mpc toggle && mpc volume 50
30 11 * * 4 mpc clear && mpc load ht2 && mpc toggle && mpc volume 50
30 11 * * 5 mpc clear && mpc load ht1 && mpc toggle && mpc volume 50
#休息日英语
30 11 * * 0,6 mpc clear && mpc load 1su5 && mpc toggle && mpc volume 50
00 13 * * * mpc stop
##--------------------------------------------------------------------------------------------------------------------------
###########################################################################################################################
##-------------------------------------------------------------------------------------------------------------------------
##17:00--18:30
##-------------------------------------------------------------------------------------------------------------------------
#每天英语			
0 17 * * * mpc clear && mpc load 1su5 && mpc toggle && mpc repeat on && mpc volume 75
###########################################################################################################################
##-------------------------------------------------------------------------------------------------------------------------
##18:30-19:00
##-------------------------------------------------------------------------------------------------------------------------
#每天全国新闻联播	
29 18 * * * /etc/init.d/mpd restart 
30 18 * * * mpc clear && mpc load radio && mpc play 1 && mpc volume 70
00 19 * * * mpc stop
##-------------------------------------------------------------------------------------------------------------------------
###########################################################################################################################
##-------------------------------------------------------------------------------------------------------------------------
##21:00--21:30
##-------------------------------------------------------------------------------------------------------------------------
#每天英语		
0 21 * * * mpc clear && mpc load 1su5 && mpc add 5su6 && mpc play && mpc volume 75
30 21 * * * mpc stop
##-------------------------------------------------------------------------------------------------------------------------
###########################################################################################################################
