##-------------------------------------------------------------------------------------------------------------------------
#工作日英语		6:55--7:20
54 06 * * * /etc/init.d/mpd restart
55 06 * * 1,2,3,4,5 mpc clear && mpc load 5su1 && mpc load 5su1 && mpc toggle && mpc repeat on && mpc volume 75
20 07 * * 1,2,3,4,5 mpc clear && mpc load 1su1 && mpc toggle && mpc repeat on && mpc volume 75
30 07 * * 1,2,3,4,5 mpc stop
##-------------------------------------------------------------------------------------------------------------------------
#休息日古诗		8:00-9:00
#00 08 * * 6,0 mpc clear && mpc load gs75 && mpc toggle && mpc repeat on mpc volume 40
##-------------------------------------------------------------------------------------------------------------------------
#每天报纸摘要		         9:00--9:30
00 09 * * * mpc clear && mpc load radio && mpc play 1 && mpc volume 55
##-------------------------------------------------------------------------------------------------------------------------
#工作日听歌			9:30--10:30
30 09 * * 1 mpc clear && mpc load ht1 && mpc toggle && mpc volume 50
30 09 * * 2 mpc clear && mpc load ht2 && mpc toggle && mpc volume 50
30 09 * * 3 mpc clear && mpc load ht3 && mpc toggle && mpc volume 50
30 09 * * 4 mpc clear && mpc load ht4 && mpc toggle && mpc volume 50
30 09 * * 5 mpc clear && mpc load ht5 && mpc toggle && mpc volume 50
#休息日古诗                       9:30--10:30
#30 09 * * 0,6 mpc clear && mpc load 5000years-of-China && mpc toggle && mpc volume 98
30 09 * * 0,6 mpc clear && mpc load gs75 && mpc toggle && mpc repeat on mpc volume 40
30 10 * * * mpc stop
##-------------------------------------------------------------------------------------------------------------------------
#工作日听歌			11:30--13:00
30 11 * * 1 mpc clear && mpc load ht5 && mpc toggle && mpc volume 50
30 11 * * 2 mpc clear && mpc load ht4 && mpc toggle && mpc volume 50
30 11 * * 3 mpc clear && mpc load ht3 && mpc toggle && mpc volume 50
30 11 * * 4 mpc clear && mpc load ht2 && mpc toggle && mpc volume 50
30 11 * * 5 mpc clear && mpc load ht1 && mpc toggle && mpc volume 50
#休息日中国上下五千年 11:30--13:00
30 11 * * 0,6 mpc clear && mpc load gs75 && mpc toggle && mpc volume 50
00 13 * * * mpc stop
##--------------------------------------------------------------------------------------------------------------------------

#每天英语			16:30--17:00
30 16 * * 1,2,3,4,5 mpc clear && mpc load 1su1 && mpc toggle && mpc repeat on && mpc volume 75

#每天听歌			17:00--18:30
59 16 * * * /etc/init.d/mpd restart 
00 17 * * 1 mpc clear && mpc load gs75 && mpc toggle && mpc volume 50
00 17 * * 2,6 mpc clear && mpc load gs75 && mpc toggle && mpc volume 50
00 17 * * 3,0 mpc clear && mpc load gs75 && mpc toggle && mpc volume 50
00 17 * * 4 mpc clear && mpc load gs75 && mpc toggle && mpc volume 50
00 17 * * 5 mpc clear && mpc load gs75 && mpc toggle && mpc volume 50
##-------------------------------------------------------------------------------------------------------------------------
#每天全国新闻联播	18:30-19:00
30 18 * * * mpc clear && mpc load radio && mpc play 1 && mpc volume 70
00 19 * * * mpc stop
##-------------------------------------------------------------------------------------------------------------------------
#每天英语		21:00--21:30
0 21 * * * mpc clear && mpc load 1su1 && mpc load 1su1  && mpc load 5su1 && mpc load 5su1 && mpc toggle && mpc volume 75
30 21 * * * mpc stop
##-------------------------------------------------------------------------------------------------------------------------
