CONFIG_PACKAGE_asterisk=y
CONFIG_PACKAGE_asterisk-app-attended-transfer=y
CONFIG_PACKAGE_asterisk-app-bridgeaddchan=y
CONFIG_PACKAGE_asterisk-app-confbridge=y
CONFIG_PACKAGE_asterisk-app-sendtext=y
CONFIG_PACKAGE_asterisk-app-system=y
CONFIG_PACKAGE_asterisk-app-verbose=y
CONFIG_PACKAGE_asterisk-app-voicemail=y
CONFIG_PACKAGE_asterisk-bridge-builtin-features=y
CONFIG_PACKAGE_asterisk-bridge-simple=y
CONFIG_PACKAGE_asterisk-bridge-softmix=y
CONFIG_PACKAGE_asterisk-chan-quectel-5g=y
CONFIG_PACKAGE_asterisk-chan-rtp=y
CONFIG_PACKAGE_asterisk-chan-sip=y
CONFIG_PACKAGE_asterisk-codec-a-mu=y
CONFIG_PACKAGE_asterisk-codec-alaw=y
CONFIG_PACKAGE_asterisk-codec-g729=y
CONFIG_PACKAGE_asterisk-codec-gsm=y
CONFIG_PACKAGE_asterisk-codec-resample=y
CONFIG_PACKAGE_asterisk-codec-ulaw=y
CONFIG_PACKAGE_asterisk-format-g729=y
CONFIG_PACKAGE_asterisk-format-gsm=y
CONFIG_PACKAGE_asterisk-format-h263=m
CONFIG_PACKAGE_asterisk-format-h264=y
CONFIG_PACKAGE_asterisk-format-wav=y
CONFIG_PACKAGE_asterisk-format-wav-gsm=y
CONFIG_PACKAGE_asterisk-func-base64=y
CONFIG_PACKAGE_asterisk-func-frame-trace=y
CONFIG_PACKAGE_asterisk-pjsip=m
CONFIG_PACKAGE_asterisk-res-format-attr-g729=y
CONFIG_PACKAGE_asterisk-res-format-attr-h263=m
CONFIG_PACKAGE_asterisk-res-format-attr-h264=y
CONFIG_PACKAGE_asterisk-res-http-websocket=y
CONFIG_PACKAGE_asterisk-res-musiconhold=y
CONFIG_PACKAGE_asterisk-res-pjproject=y
CONFIG_PACKAGE_asterisk-res-rtp-asterisk=y
CONFIG_PACKAGE_asterisk-res-rtp-multicast=y
CONFIG_PACKAGE_asterisk-res-sorcery=y
CONFIG_PACKAGE_asterisk-sounds=y
